image: python:3.11

stages:
  - test
  - deploy

variables:
  PYTHONPATH: "${PYTHONPATH}:${CI_PROJECT_DIR}"

test:
  stage: test
  script:
    - pip install .[test]
    - pip install pytest
    - pytest
  only:
    - main

pages:
  stage: deploy
  script:
    - pip install mkdocs mkdocs-material
    - cp README.md docs/index.md
    # Build MkDocs site
    - mkdocs build
    - mv site public
  artifacts:
    paths:
      - public
  only:
    - main
